/*


*/

.toggle{
	width:100%;
	padding:10px 20px;
	background:#001f44;
	text-align:left;
	box-sizing:border-box;
	color:#fff;
	font-size:30px;
	display:none;
}
.black{
	height:400px;
	width:350px;
	background:red;
}
@media screen and (max-width: 600px) {
  .toggle{display:block;}
  .nav {z-index: 999;}
  .nav ul{display:none;width:100%;background:#00316b;}
  .nav ul li {
    float: none;
    top: -5px;
    margin: 0;
    background: #00316b;
    width: 99%;
	}
	.nav ul li ul {
    top: 8px;
    margin: 0 0 0 29px;
	}
	.nav ul li ul li{background:#00316b;}
  .active{display:block;}
  
}