.toggle {
	background: #001f44;
    padding: 6px 15px;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
    margin: 0 0 0 0;
}


@media screen and (max-width: 600px) {
  .toggle{display:block;}
  .active{display:block;}
	.nav ul {
    display: none;
    width: 100%;
    background: #00316b;
    margin: 0 0 0 0;
}
.nav ul li {
    width: 98%;
    background: #00316b;
    margin: 0 0 0 0;
}
.nav ul li ul li {
    right: -34px;
	top: -5px;
	}
	.nav-bg {
    border-top: none;
    border-bottom: none;
}

}