/*Md Jahid Shah*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 35px;
	line-height: 40px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}




/*		Default Layout: 1080px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 1384px){
	
	
}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width:768px) and (max-width:991px) {
	.container{
		width:98%;
	}
	.logo {
    width: 100%;
    text-align: center;
	}
	#header {
    height: 155px;
	}
	.header-nav {
    width: 100%;
    }
	.letest-post, .mot, .upfc {
    width: 48%;
    float: left;
    margin: 0 -5px 0 15px;
	}
	.post-img, .mot-img, .upfcc {
    width: 98%;
	}
	.cradit-left p, .cradit-right p {
    font-size: 13px;
	}
	
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	
	.container{
		width:98%;
		}

	
}


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.container{
		width: 98%;
	}
	.header-nav {
		width: 100%;
	}
  .logo {
    width: 100%;
	}
	.logo h2 {
    margin: -20px 0 0 5px;
	}
	.header-nav ul{margin: -12px 0 0 0;}
	.header-nav ul li ul {
	z-index: 999;
    display: block;
    top: 127%;
    margin-left: 26%;
	}
	.header-nav ul::before{
			display:none;
			position:absolute;
			}
	.header-nav ul::after{
			display:block;
			position:absolute;
			}
	.dropdown-content{
		display:block;
			}
	#social-share{z-index:999;top: 17%;}
	.letest-post, .mot, .upfc {
    width: 96%;
	overflow: hidden;
	}
	.post-img img, .mot-img img {
    width: 100%;
    }
	
	
}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	.container{
		width: 98%;
	}
	.header-nav {
		width: 100%;
	}
  .logo {
    width: 100%;
	}
	.logo h2 {
    margin: -20px 0 0 5px;
	}
	.header-nav ul{margin: -12px 0 0 0;}
	.header-nav ul li ul {
	z-index: 999;
    display: block;
    top: 127%;
    margin-left: 26%;
	}
	.header-nav ul::before{
			display:none;
			position:absolute;
			}
	.header-nav ul::after{
			display:block;
			position:absolute;
			}
	.dropdown-content{
		display:block;
			}
	#social-share{z-index:999;top: 17%;}
	.letest-post, .mot, .upfc {
    width: 96%;
	overflow: hidden;
	}
	.post-img img, .mot-img img {
    width: 100%;
    }
}
