/*	Less Framework 4 with 16/24 type presets
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/



/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*		Default Layout: 1080px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
--------------------------------------------------------------*/
@media only screen and (min-width: 1024px) and (max-width: 1384px){
	.menu-toggle{display:none;}
	.selectnav{
    display: none;
	}
}
@media only screen and (min-width: 1416px){
	.menu-toggle{display:none;}
	.selectnav{
    display: none;
	}
}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px),@media only screen and (min-width: 768px) and (max-width: 1024px){
	
	.container{
		width:98%;
	}
	.top-header{
	border-top: 2px solid #7c9c37;
	}
	.top-header-bg{
	border-top: 3px solid #7c9c37;	
	}
	.header-menu {
    width: 100%;
    float: left;
    height: 100%;
	}
	.header-menu ul li {

    margin: 0 5px 0 5px;
	}
	.header-menu ul li ul li {
    top: 10px;
	}
	.header {
    height: 122px;
    background: #000;
	}
	.email {
    width: 35%;
	}
	.logo {
    width: 100%;
	height: 85px;
	}
	.logo p {
    margin: 15px 0 0 0;
	}
	.pargh {
	margin: 57px 0 25px 0;
    overflow: hidden;
	}
	.slider {
    top: -87px;
	}
	.post {
    margin: 0px 5px 0px 10px;
    overflow: hidden;
	}
	.post img {
    width: 100%;
	}
	.post h2 {
	font-size: 17px;
    margin: -13px 0 -7px 0;
	}
	.anc-left {
    width: 100%;
    float: left;
	}
	.anc-right {
    width: 100%;
    float: none;
	}
	.anc-head{
	width:100%;
	}
	.anc-right {
    overflow: hidden;
	}
	.u-footer {
    width: 22%;
	}
	.from-blog h4 {
    font-size: 15px;
	}
	.from-blog p {
    margin: 0px 5px 0px 0px;
    font-size: 15px;
    line-height: 15px;
	}
	.about-img {
    width: 90%;
    }
	.about-img img {
    width: 99%;
    }
	.u-footer p {
    margin: 5px 9px 10px -4px;
    font-size: 15px;
	}
	.author h3, .u-footer h3 {
    margin: -15px 0 0px -10px;
    font-size: 15px;
    float: left;
	}
	.u-footer h2 {
    margin: 40px 0px 15px 5px;
    font-size: 15px;
	}
	.author p {
    margin: 5px 0 11px 10px;
	}
	.cradit-footer p {
    font-size: 11px;
	}
	.cradit-right {
    width: 28%;
    margin: 0px 91px 0 0px;
	}
	#selectnav1 {
    display: none;
	}
	.search_btn {
    margin-top: 10px;
	}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	.container{
		width:98%;
	}
	.top-header{
	border-top: 2px solid #7c9c37;
	}
	.top-header-bg{
	border-top: 3px solid #7c9c37;	
	}
	.post img {
    width: 100%;
	}




}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px){
	
	
	.container{
		width:98%;
	}
	.top-header{
	border-top: 2px solid #7c9c37;
	}
	.top-header-bg{
	border-top: 3px solid #7c9c37;	
	}
	.top-header {
    height: 65px;
	}
	.header-menu ul {
    display: none;
	}
	.header-menu {
    width: 100%;
    margin: -32px 0 0 0;
    height: 70px;
	}
		.selectnav {
    display: block;
    height: 2.75em;
    width: 100%;
	}
	.pande {
    width: 56%;
    float: left;
	}
	.phone {
    float: none;
    width: 100%
	}
	.email {
    width: 100%;
    margin-top: -82px;
	}
	.search-box {
    float: right;
    width: 43%;
	}
	input.search-txt {
    width: 95%;
    margin: 8px 0 0 -2px;
	}
	.header-menu {
    display: ;
	}
	.logo {
    width: 100%;
	}
	.logo p {
    margin: 15px 0px 0px 3px;
	}
	.pargh {
    margin: 50px 0px 0px 0;
	}
	.pargh h1 {

    text-align: center;
    font-size: 21px;
    line-height: 29px;
	}
	.post {
    width: 100%;
    float: none;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 5px 0 0 0;
	}
	.post p{
		margin: 5px 10px 20px 5px;
		line-height: 21px;
	}
	.post img {
	width:98%;
	height:280px;
    float: left;
	margin: 0px 5px 0 5px;
	}
	.post h2 {
    color: #7c9c37;
    font-size: 22px;
	}
	.anc-left {
    width: 98%;
    overflow: hidden;
	}
	.ancl {
    float: none;
    width: 100%;
    overflow: hidden;
		}
	.anclp h2 {
    line-height: 20px;
    overflow: hidden;
    margin: 12px 0 0 0;
	}
	.anclp {
	width:98%;
    margin: -12px 0 0 0;
	}
	
	.anc-right {
    width: 98%;
    float: none;
	overflow:hidden;
	}
	.anc-head h2 {
    float: left;
    font-size: 30px;
	}
	.anc-head h3 {
    margin: 7px 0 0 0;
	}
	.about-img img {
    width: 100%;
    height: 215px;
	}
	.author {
    width: 45%;
    float: left;
	}
	.u-footer {
    width: 100%;
    margin: 0px 0 5px 5px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	}
	.u-footer h2 {
    font-size: 20px;
	}
	.u-footer ul li {
    margin: 0 16px 0 6px;
	}
	.cradit-left {
    width: 100%;
	}
	.cradit-right {
    float: left;
    width: 98%;
	text-align:left;
    }
	.cradit-left p {
    font-size: 14px;
    margin: 21px 0 0 20px;
	}

}

@media screen and (min-width:320px) and (max-width:640px){
	
	
	.container{
		width:98%;
	}
	.top-header{
	border-top: 2px solid #7c9c37;
	}
	.top-header-bg{
	border-top: 3px solid #7c9c37;	
	}
	.top-header {
    height: 65px;
	}
	.header-menu ul {
    display: none;
	}
	.header-menu {
    width: 100%;
    margin: -32px 0 0 0;
    height: 70px;
	}
		.selectnav {
    display: block;
    height: 2.75em;
    width: 100%;
	}
	.pande {
    width: 56%;
    float: left;
	}
	.phone {
    float: none;
    width: 100%
	}
	.email {
    width: 100%;
    margin-top: -82px;
	}
	.search-box {
    float: right;
    width: 43%;
	}
	input.search-txt {
    width: 95%;
    margin: 8px 0 0 -2px;
	}
	.header-menu {
    display: ;
	}
	.logo {
    width: 100%;
	}
	.logo p {
    margin: 15px 0px 0px 3px;
	}
	.pargh {
    margin: 50px 0px 0px 0;
	}
	.pargh h1 {

    text-align: center;
    font-size: 21px;
    line-height: 29px;
	}
	.post {
    width: 100%;
    float: none;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 5px 0 0 0;
	}
	.post p{
		margin: 5px 10px 20px 5px;
		line-height: 21px;
	}
	.post img {
	width:98%;
	height:280px;
    float: left;
	margin: 0px 5px 0 5px;
	}
	.post h2 {
    color: #7c9c37;
    font-size: 22px;
	}
	.anc-left {
    width: 98%;
    overflow: hidden;
	}
	.ancl {
    float: none;
    width: 100%;
    overflow: hidden;
		}
	.anclp h2 {
    line-height: 20px;
    overflow: hidden;
    margin: 12px 0 0 0;
	}
	.anclp {
	width:98%;
    margin: -12px 0 0 0;
	}
	
	.anc-right {
    width: 98%;
    float: none;
	overflow:hidden;
	}
	.anc-head h2 {
    float: left;
    font-size: 30px;
	}
	.anc-head h3 {
    margin: 7px 0 0 0;
	}
	.about-img img {
    width: 100%;
    height: 215px;
	}
	.author {
    width: 91%;
    float: left;
	}
	.u-footer {
    width: 100%;
    margin: 0px 0 5px 5px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	}
	.u-footer h2 {
    font-size: 20px;
	}
	.u-footer ul li {
    margin: 0 16px 0 6px;
	}
	.cradit-left {
    width: 100%;
	}
	.cradit-right {
    float: left;
    width: 98%;
	text-align:left;
    }
	.cradit-left p {
    font-size: 12px;
    margin: 21px 0 0 20px;
	}
	.from-blog p {
    margin: 2px 15px 0px 0px;
	}

}
@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .container {
    width: 98% ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .container {
    width: 98% ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  .container {
    width: 98% ;
  }
}

/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */
@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
.container{
		width:98%;
	}
	.top-header{
	border-top: 2px solid #7c9c37;
	}
	.top-header-bg{
	border-top: 3px solid #7c9c37;	
	}
	.top-header {
    height: 65px;
	}
	.header-menu ul {
    display: none;
	}
	.header-menu {
    width: 100%;
    margin: -32px 0 0 0;
    height: 70px;
	}
		.selectnav {
    display: block;
    height: 2.75em;
    width: 100%;
	}
	.pande {
    width: 56%;
    float: left;
	}
	.phone {
    float: none;
    width: 100%
	}
	.email {
    width: 100%;
    margin-top: -82px;
	}
	.search-box {
    float: right;
    width: 43%;
	}
	input.search-txt {
    width: 95%;
    margin: 8px 0 0 -2px;
	}
	.header-menu {
    display: ;
	}
	.logo {
    width: 100%;
	}
	.logo p {
    margin: 15px 0px 0px 3px;
	}
	.pargh {
    margin: 50px 0px 0px 0;
	}
	.pargh h1 {

    text-align: center;
    font-size: 21px;
    line-height: 29px;
	}
	.post {
    width: 100%;
    float: none;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 5px 0 0 0;
	}
	.post p{
		margin: 5px 10px 20px 5px;
		line-height: 21px;
	}
	.post img {
	width:98%;
	height:280px;
    float: left;
	margin: 0px 5px 0 5px;
	}
	.post h2 {
    color: #7c9c37;
    font-size: 22px;
	}
	.anc-left {
    width: 98%;
    overflow: hidden;
	}
	.ancl {
    float: none;
    width: 100%;
    overflow: hidden;
		}
	.anclp h2 {
    line-height: 20px;
    overflow: hidden;
    margin: 12px 0 0 0;
	}
	.anclp {
	width:98%;
    margin: -12px 0 0 0;
	}
	
	.anc-right {
    width: 98%;
    float: none;
	overflow:hidden;
	}
	.anc-head h2 {
    float: left;
    font-size: 30px;
	}
	.anc-head h3 {
    margin: 7px 0 0 0;
	}
	.about-img img {
    width: 100%;
    height: 215px;
	}
	.author {
    width: 45%;
    float: left;
	}
	.u-footer {
    width: 100%;
    margin: 0px 0 5px 5px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	}
	.u-footer h2 {
    font-size: 20px;
	}
	.u-footer ul li {
    margin: 0 16px 0 6px;
	}
	.cradit-left {
    width: 100%;
	}
	.cradit-right {
    float: left;
    width: 98%;
	text-align:left;
    }
	.cradit-left p {
    font-size: 14px;
    margin: 21px 0 0 20px;
	}
	
}