*(margin:0;padding:0;)
body{
	font-family:Sans-Serif, Arial; !important; 
	transition:all 0.5s case;-webkit-transition:all 0.5s case;
	-webkit-transition:all 0.3s case;
	transition:all 0.3s case;
}
img{width:100%;height:auto;}
a{text-decoration:none;}
a:visited{color:inlineblue;}
a:hover{text-decoration:underline;}
h1, h2, h3, h4, h5, h6{margin:10px;font-weight:normal;}
p{line-height:150%;margin:1.5cm;}

.floatleft{float:left;}
.floatright{float:right;}
.aligncenter{display:block;margin:0 auto;}

.container-ful{width:100%;height:auto;display:block;}
.container{width:1080px;margin:0 auto;display:block;position:relative;}
.fix{overflow:hidden;}

/*top buttton*/
#myBtn {display: none;position: fixed;bottom: 20px;right: 30px;z-index: 99;font-size: 18px;border: none;outline: none;background-color: red;color: white;cursor: pointer;padding: 15px;border-radius: 4px;}
#myBtn:hover {background-color: #555;}
/*------------*/
/*-----------------------------------------------------*/

.header-bg{
	background:#2d2928;
	}
.header{
	height:70px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}
.logo{
	width:29%;
	float:left;
	overflow:hidden;
}
.logo h2 {
    line-height: 45px;
    font-size: 30px;
}
.logo h2 a {
    text-decoration: none;
    color: #666;
}
.logo p {
    line-height: 25px;
    margin: 0 0 0 0;
}

/*NAV*/
.nav {
	width:70%;
	float:right;
	margin: 12px 0 0 0;
}
.nav-bg{
}
.nav ul {
    display: block;
    height: 50px;
	margin: 0 ;
    background: #e2494b;
    border-radius: 5px;
}
.nav ul li {
    float: left;
    list-style-type: none;
    margin: 14px 2px 0 5px;
    position: relative;
    padding-right: 5px;
}
.nav ul li:last-child{
	border-right:none;
}
.nav ul li a{
	color:#fff;
	text-decoration:none;
}
.nav ul li a:hover{
	color:#edacad;
}
.nav ul li ul{
	position:absolute;
	left:-99999px;
	z-index:999;
	background:none;
}
.nav ul li:hover ul{
	left:0;
}
.nav ul li ul li {
    float: none;
    right: 0px;
    top: 13px;
    width: 130px;
    border-bottom: 1px solid #fff;
    background: #e2494b;
    height: 30px;
    margin: 0 0 0 0;
}
.nav ul li ul li:last-child{
	border-bottom:none;
	
}
.nav ul li ul li a{
	margin-left:5px;
}
/*NAV END*/

/*slider start*/
.slider{
	height: 500px;
    padding-bottom: 5px;
}
.main-slider {
    height: 375px;
	width:98%;
    margin: 1px 0 0 0;
    float: left;
    border: 10px solid #ccc;
}
.slider-img {
    width: 96%;
    height: 96%;
	margin: 15px 0 0 15px;
    background: #333333;
}
.slider-post {
    width: 100%;
    text-align: center;
}
.slider-postimg {
    width: 95%;
    margin: 5px 0 0 9px;
}
.slider-postimg p{
    line-height: 20px;
    margin: 4px 9px 0 1px;
    text-align: justify;
}
.slider-postimg img {
    width: 98%;
    height: 195px;
}
.slider-postimg h3 a,.post-p h3 a{
	color:#ea4042;
	text-decoration:none;
	margin: 0 0 0 0;
	line-height: 25px;
}
.slider-postimg h3 a:hover,.post-p h3 a:hover{
    color: #000;
}

#slider{
	height:365px;
	width:100%;
	overflow:hidden;
}
#slider img{
	height:370px;
	
}
.nivoSlider img{height:370px !important;} 
.nivo-main-image{height:370px !important;}
.slider-post h2 {
    width: 75%;
    text-align: justify;
    margin: auto;
    font-size: 20px;
    padding: 10px 0 10px 0;
	line-height: 23px;
}
/*slider end*/


/*article start*/
.article,.our-player,.latest-work{
	overflow:hidden;
	margin-top:40px;
	padding-bottom:10px;
}
.article-post{
    width: 32%;
    float: left;
    margin: 20px 5px 5px 8px;
	height: 150px;
}
.post-p {
    width: 100%;
    height: 72px;
}
.post-p p {
	text-align:justify;
    margin: 0 0 0 1px;
    line-height: 20px;
}
.post-p h2 {
    line-height: 10px;
    margin: 10px 0 9px 10px;
    font-size: 20px;
    font-weight: bold;
}
.post-p h3 {
    font-size: 15px;
    line-height: 5px;
}
.article-post img {
    width: 50px;
	height:50px;
    margin: 5px;
	float:left;
    border: 5px solid #ccc;
}
.player-post {
    width: 19%;
    float: left;
    margin: 20px 5px 15px 5px;
	height:330px;
}
.player-post img{
	width: 100%;
	height:200px;
    margin: 5px;
	float:left;
    border: 1px solid #ccc;
}
.span{
	width:100%;
	height:1px;
	background:#ccc;
    margin: 20px 0 0 0;
}
.border img{
    width:198px;
    margin-top: -14px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*article end*/

/*Laest work start*/
.lw-img{
	width:32.5%;
	float:left;
	margin-top:20px;
}
.lw-img img{
	width:300px;
	height:160px;
	margin: 20px 0 0 45px;
	border:5px solid #ccc;
}
/*Latest work end*/
.upftrl h2,.company h2,.Contact h2 {
    font-size: 21px;
    margin: 0 0 -5px 7px;
    font-family: The New Roman;
    font-weight: bold;
}
.upftrl,.company,.Contact{
	padding: 10px 0 5px 0;
	}
/*footer start*/
.footer-bg{
	background:#e2e2e2;
	overflow:hidden;
}
.upper-footer{
	overflow:hidden;
	background:#e2e2e2;
	border-bottom:1px solid #CCC;
}
.upftrl{
	width:49%;
	float:left;
}
.upftr{	
	width:100%;
	float:none;
    margin: 10px 5px 10px 5px;
    overflow: hidden;
}
.upftr h2 {
    font-size: 20px;
    margin: 10px 0 0 10px;
	color:#e2494b;
}
.upftr img{
	width:95px;
	height:95px;
	float:left;
	margin:5px;
	border:5px solid #ccc;
}
.upftr ul li {
    list-style-type: none;
    margin: 0 0 0 -28px;
}
.upftr ul li a {
    color: #ff9900;
    text-decoration: none;
}
.upftr ul li a:hover {
    color: #000;
    text-decoration: underline;
}
.upftrr{
	width:49%;
	float:right;
	
}
.company{
	width:49%;
	float:left;
}
.contact{
	width:49%;
	float:right;
}
.company h2,.contact h2,..upftrl h2{
    font-size: 20px;
    margin: 0 0 0 6px;
}
input#name, input#email, input#message {
    width: 48.5%;
    height: 24px;
    margin: 0 0 5px 0;
    border-radius: 5px;
}
input#message{
	padding-bottom:80px;
}
.company p {
    line-height: 120%;
    margin: 0.2cm;
}
input#submit {
    height: 30px;
    width: 110px;
    background: #e2494b;
    color: #fff;
    border-radius: 5px;
}
input#submit:hover{
	background:#0e154a;
	color:red;
}
.footer p,.footer p a{
	color:#a7a4a4;
}

.cradit-bg{
	background:#e2e2e2;
}

.cradidt-footer {
	background:#e2e2e2;
    height: 45px;
	overflow:hidden;
	box-shadow: 0 5px 0px 0px #fff;
}

.cradit-left {
    float: left;
    width: 50%;
}
.cradit-right {
    width: 50%;
    float: right;
}
.cradit-left p, .cradit-right p {
    line-height: 50px;
    margin: 0px 15px 0px 15px;
}
.fl_right {
    float: right;
}
.fl_right,.fl_left{
	color:#000;
}
.fl_right a,.fl_left a{
	color:red;
}
.fl_right a:hover,.fl_left a:hover{
	color:#fff;
}
/*footer end*/







